body {
    background: #880000;
    color: #FFFFFF;
}


.container {
    max-width: 800px;
}

h1 {
    border-bottom: 2px double #FFFFFF;
    text-align: center; 
}

section {
    background: #FFFFFF;
    color: #333333;
    padding: 30px;
    margin: 15px;
}

section a:link,
section a:visited {
    color: #880000;
}

section a:hover,
section a:active {
    color: #008800;
}