body {
    background: #880000;
    color: #FFFFFF;
    font-family: "Black Han Sans", sans-serif;
    font-size: 62.5%;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.25rem;
}

h1 {
    border-bottom: 2px double #FFFFFF;
    text-align: center; 
    font-size: 3rem;
}

section {
    background: #FFFFFF;
    color: #333333;
    padding: 30px;
    margin: 15px;
}

section a:link,
section a:visited {
    color: #880000;
}

section a:hover,
section a:active {
    color: #008800;
}

section ul {
    list-style-type: none;
}

section ul li {
    margin: 5px 0;
}

.amazon a.button {
    background: #FCBB04;
    display: block;
    color: #000000;
    text-align: center;
    max-width: 400px;
    font-size: 1.65rem;
    font-weight: bold;
    border-radius: 10px;
    margin: 0 aut0;
    padding: 10px;
}
    