/**Normalize.css**/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}body,button,input,select,textarea{font-family:sans-serif}a{color:#00e}a:visited{color:#551a8b}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/** The Crux of the Matter **/

body{
	background: #333333;
	font-family: "Open Sans Condensed", Helvetica, sans-serif;
	font-size: 62.5%;
	text-align: center;
	color: #FFFFFF;
	}
	
a, a:visited{
	color: #000088;
	text-decoration: none;
	}
	
a:hover{
	color: #0000FF;
	}
	
aside{
	font-size: 1.5em;
	background: #FFFFFF;
	}
	
aside .widget{
	margin-top: 10px;
	padding: 10px 3%;
	}
	
aside .widget h3{
	margin-top: 0px;
	color: #880000;
	}
	
h1,h2,h3{
	font-family: Futura, sans-serif;
	}
	
	
img,object,wmbed,video{
	max-width: 100%;
	}

#wrapper{
	margin: 0 auto;
	text-align: left;
	max-width: 90%;
	font-size: 1.4em;
	padding: 15px 5%;
	color: #333333;
	}
	
#wrapper h1{
	font-size: 2em;
	padding: 5px 1%;
	margin: 0;
	color: #FFFFFF;
	}
	
#wrapper dl{
	padding: 15px 4%;
	margin: 0;
	font-size: 1.6em;
	}
	
	
#wrapper dl dt{
	margin: 0;
	font-weight: bold;
	padding: 10px 0 5px 0;
	color: #880000;
	}
	
#wrapper dl dd{
	margin: 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #008800;
	}
	
#wrapper dl a dd{
	color: #333333;
}

#content{
	-webkit-box-shadow:  0px -4px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px -4px 3px 0px rgba(0, 0, 0, 0.3);
    background: #FFFFFF;
    color: #333333;
    
	}
	
	
/* self-clear floats */

.group:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clear{
clear: both;
}

@media screen and (min-width: 40.625em){
	aside .widget{
		float: left;
		width: 27%;
		}
		
	#wrapper h1{
		font-size: 3em;
		}
	}

@media screen and (min-width: 55.652em){

	#content{
		float: left;
		width: 67%;
		}
		
	aside{
		margin: 0 0 0 69%;
		width: 33%;
		}
		
	aside .widget{
		float: none;
		margin: 0;
		width: 99%;
		}
	}